/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
  }
  
  /* Set up basic layout and styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: black;
    -webkit-font-smoothing:antialiased;
  }
  
  img.top-bg-image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;  
    height:100%;
    position: sticky;
    position: -webkit-sticky;
    top:0;
  }

  .first-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: -1;
  }

   .first-container .purch-option {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
   }

   .first-container .purch-option:hover {
    background-color: goldenrod;
    border-color: goldenrod;
    color: black;
   }

   .first-container img {
    width: 100%;
    height: auto;
   }

  .space-after-bg-images {
    background-color:black;
    height: 44px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width:600px){
    .space-after-bg-images {
      height: 70px;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    box-shadow: 0 2px 0px -1px rgb(0, 0, 2.5);
    z-index: 5;
  }

  .father {
    background-image:url("bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .father2 {
    background-image:url("godfrey_artworkHD-scaled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }

  img.Title {
    width: 230px;
    height: 36px;
    margin: 0;
    transition: transform .2s;
    text-decoration: none;
  }

  img.Title:hover {
    transform: scale(1.1);
  }

  .Site-info {
    font-size: 30px;
    margin: auto;
  }

  .menu-item-active {
    background-image: url("elden-ring-border-leaf.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 0 8px 12px;
  }

  img { 
    width: 200px;
    margin-top: 0;
    margin-bottom: 0; 
    }

  img:hover {
  cursor: default;
  }
  
  h1 {
    margin-bottom: 0;
    margin: auto;
    text-align: center;
  }
  
  h1 a {
    color: #fcf8f8;
    text-decoration: wavy;
  }

  
  nav li {
    padding: 0 8px;
    display: inline-block;
  }

  @media screen and (max-width:600px) {
    li {
      display: list-item;
      text-align: left;
      float: none;
    }
  }

  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .nav a {
      float: none;
      display: block;
    }
  }

  @media screen and (min-width: 992px) {
    .nav li {
      padding: 0 0.5em;
    }
  }
  ul.menu {
    list-style: none;
    justify-content: center;
    margin: 0 auto;
    text-size-adjust: 100%;
    font-weight: 300;
    padding: 0;
    width: 100%;
    display: flex;
  }

  ul {
    padding:0;
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 1.5em;
    list-style-type: none;
    text-align: center;
  }

  @media screen and (min-width:992px) { 
    .menu {
      align-items:center;
    }
  }
  nav {
    list-style-type: none;
    margin:0;
    padding: 8px 16px;
    position: fixed;
    display: flex;
    box-sizing: border-box;
    background-color:#c19d53 ;
    width: 100%; 
    top: 0;
    left:0;
    line-height: 20px;
    height: auto;
    text-align: center;
  }

  @media (min-width: 992px) {
    nav {
      font-size: 24px;
      padding: 8px 16px;
      background-color: #000000;
    }
  }

  nav a {
    color: white;
    display: block;
    text-align: center;
    position: relative;
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
  }

  nav a:hover {
    color: darkgoldenrod;
  }

  .menu-item {
    padding:0 8px 12px;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Style the sections */
  div {
    margin-bottom: 40px;
    color: rgb(252, 249, 249);
  }
  
  .overview {
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    font-size: 14px;
    transition: font-size 0.3s ease-in-out;
    background-image: url("elden-ring-border-leaf.png"),url("elden-ring-border-leaf.png");
    background-position:bottom center, top center;
    background-repeat: no-repeat;
    background-size: 750px;
    padding-bottom: 44px;
    padding-top: 44px;
  }

  .overview h2 {
    background-image: url("");
    background-size: cover;
    padding-top: 1%;
    background-repeat: no-repeat
  }

  .overview:hover {
    font-size:18px;
  }

  .characters {
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    font-size: 14px;
    transition: font-size 0.3s ease-in-out;
    background-image: url("elden-ring-border-leaf.png"),url("elden-ring-border-leaf.png");
    background-position:bottom center, top center;
    background-repeat: no-repeat;
    background-size: 750px;
    padding-bottom: 44px;
    padding-top: 44px;
  }

  .characters:hover {
    font-size:18px;
  }

  .world {
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px; 
    font-size: 14px;
    transition:font-size 0.3s ease-in-out;
    background-image: url("elden-ring-border-leaf.png"),url("elden-ring-border-leaf.png");
    background-position:bottom center, top center;
    background-repeat: no-repeat;
    background-size: 750px;
    padding-bottom: 44px;
    padding-top: 44px;
  }

  .world:hover {
    font-size:18px;
  }

  .Media{
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    font-size: 14px;
    transition:font-size 0.3s ease-in-out;
    background-image: url("elden-ring-border-leaf.png"),url("elden-ring-border-leaf.png");
    background-position:bottom center, top center;
    background-repeat: no-repeat;
    background-size: 750px;
    padding-bottom: 44px;
    padding-top: 44px;
  }

  .Media:hover {
    font-size:18px;
  }

  .Key-features{
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    font-size: 14px;
    transition:font-size 0.3s ease-in-out;
    background-image: url("elden-ring-border-leaf.png"),url("elden-ring-border-leaf.png");
    background-position:bottom center, top center;
    background-repeat: no-repeat;
    background-size: 750px;
    padding-bottom: 44px;
    padding-top: 44px;
  }

  .Key-features:hover {
    font-size:18px;
  }

  .About-us {
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    font-size: 14px;
    transition:font-size 0.3s ease-in-out;
    background-image: url("elden-ring-border-leaf.png"),url("elden-ring-border-leaf.png");
    background-position:bottom center, top center;
    background-repeat: no-repeat;
    background-size: 750px;
    padding-bottom: 44px;
    padding-top: 44px;
  }

  .About-us:hover {
    font-size:18px;
  }

  .Other-products {
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    font-size: 14px;
    transition:font-size 0.3s ease-in-out;  
    background-image: url("elden-ring-border-leaf.png"),url("elden-ring-border-leaf.png");
    background-position:bottom center, top center;
    background-repeat: no-repeat;
    background-size: 750px;
    padding-bottom: 44px;
    padding-top: 44px;  
  }

  .Other-products:hover {
    font-size:18px;
  }

  .footer-menu {
    list-style-type: none;
    margin:0;
    padding: 8px 16px;
    position: fixed;
    display: flex;
    box-sizing: border-box;
    background-color:#c19d53 ;
    width: 100%; 
    right: 0;
    line-height: 20px;
    height: auto;
    text-align: center;
  }

  .footer-menu ul {
    width: 100%;
    height: 35px;
    font-size: 18px;
    float: left;
    text-align: right;
  }

  .Credits {
    width: 100%;
    border: 100%;
    border-left-color: black;
    border-bottom-color: black;;
    border-right-color: black;
    border-top-color: black;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    background-color: black;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 2px;
    font-size: 14px;
    float:left;
    transition: font-size 0.3s ease-in-out;
    text-align: center;
    padding-left: 0;
    margin-bottom: auto;
    margin-top: auto;
  }

  footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #000000;
      color: #fcf8f8;
      padding: 1em;
  }

  footer .copyright {
      flex: 1;
      text-align: center;
  }

  footer .copyright ul {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  footer .social-links {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
  }

  footer .social-links a {
      color: #fcf8f8;
      text-decoration: none;
      margin-left: 1em;
      transition: all 0.3s;
      background-color: #c19d53;
  }

  footer .social-links a:hover {
      color: goldenrod;
      background-color: #000000;
      transform: scale(1.2);
  }

  h2 {
    margin-bottom: 20px;
  }
  
  /* Style the screenshot container and images */
  .screenshot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .screenshot-container img {
    width: 30%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform .2s;
  }

  .screenshot-container img:hover {
    transform: scale(1.2);
  }
  
  /* Style the trailer video */
  iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  /* Responsive styles */
  @media (max-width: 600px) {
    nav {
      display: none;
    }
    h1 {
      font-size: 1.5em;
    }
  }
  