/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
  }
  
  /* Set up basic layout and styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: black;
  }
  
  img.top-bg-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }


  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 16px;
    box-shadow: 0 2px 0px -1px rgb(0, 0, 2.5);
  }

  .father {
    background-image: url("bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  img.Title {
    width: 200px;
    height: 30px;
    margin: auto;
    transition: transform .2s;
    padding-right: 24px;
  }

  img.Title:hover {
    transform: scale(1.1);
  }

  .Site-info {
    font-size: 30px;
    margin: auto;
  }

  .menu-item-active {
    max-width: fit-content;
    padding-bottom: 6px;
    background-image: url("elden-ring-border-leaf.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  img { 
    width: 200px;
    margin-top: 0;
    margin-bottom: 0; 
    }

  img:hover {
  cursor: default;
  }
  
  h1 {
    margin-bottom: 0;
    margin: auto;
    text-align: center;
  }
  
  h1 a {
    color: #fcf8f8;
    text-decoration: wavy;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }

  nav {
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 8px 16px;
  }

  @media (min-width: 998px) {
    nav {
      font-size: 20px;
    }
  }

  nav a {
    color: white;
    display: block;
    text-align: center;
    position: relative;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 8px 16px;
  }

  nav a:hover {
    color: darkgoldenrod;
  }

  .menu-item {
    padding-right: 6px;
    padding-left: 6px;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  ul {
    list-style-type: none;
  }

  /* Style the sections */
  div {
    margin-bottom: 40px;
    color: rgb(252, 249, 249);
  }
  
  .overview {
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    transition: transform .2s;
  }

  .overview:hover {
    transform: scale(1.05);
  }

  .characters {
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    transition: transform .2s;
  }

  .characters:hover {
    transform: scale(1.05);
  }

  .world {
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px; 
    transition: transform .2s;
  }

  .world:hover {
    transform: scale(1.05);
  }

  .gameplay{
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    transition: transform .2s;
  }

  .gameplay:hover {
    transform: scale(1.05);
  }

  .Key-features{
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    transition: transform .2s;
  }

  .Key-features:hover {
    transform: scale(1.05);
  }

  .About-us {
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    transition: transform .2s; 
  }

  .About-us:hover {
    transform: scale(1.05);
  }

  .Other-products {
    border: 50%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    transition: transform .2s;     
  }

  .Other-products:hover {
    transform: scale(1.05);
  }

  .Site-info {
    width: 30%;
    border: 25%;
    height: 150px;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    font-size: 20px;
    float:left;
    transition: transform .2s;
    overflow: scroll;
  }

  .Site-info p {
    height: fit-content;
    width: fit-content;
  }

  .Site-info:hover {
    transform:scale(1.05);
  }

  h2 {
    margin-bottom: 20px;
  }
  
  /* Style the screenshot container and images */
  .screenshot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .screenshot-container img {
    width: 30%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Style the trailer video */
  video {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  nav {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    nav {
      display: none;
    }
    h1 {
      font-size: 1.5em;
    }
  }
  